**/.*
!.gitkeep
!.gitignore

venv

data/databases/*
!data/databases/.gitkeep

data/matrices/*
!data/matrices/.gitkeep

data/profiles/*
!data/profiles/.gitkeep

data/svd/*
!data/svd/.gitkeep

data/bcols/*
!data/bcols/.gitkeep

data/opt-30b/*
!data/opt-30b/.gitkeep

*.log
*.pid
*.wal